@import "tailwindcss";

/* Plugins */
@plugin "@tailwindcss/forms";

@theme {
  --color-red-text: #d90e0e;
  --color-green-text: #72e399;

  --color-red-bg-btn: #d90e0e;
  --color-green-bg-btn: #326f29;
  --color-grey-border-btn: #282828;

  --color-grey-bg-search: #212121;
  --color-grey-border-search: #494949;

  --color-grey-bg-filter: #080e0d;
  --color-grey-border-filter: #203a2f;

  --color-red-border-banner: #d90e0e;

  --color-black-500: #000000;
  --color-black-bg-header: #090909;

  --color-black-bg-main: #131313;

  --color-black-bg-carousel: #020202;

  --color-grey-text-footer: #999999;
 
}